.mens_Products{
    padding-top: 56px;
    .featuredimg_container{
        margin: 12px;
        box-shadow: 0 0 12px rgb(92, 92, 92);
        .featured_img {
            width: 100%;
        }
    }
    .spinner{
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 36px;
        
        .spin{
            height: 50px;
            width: 70%;
            animation: spin infinite 5s linear;
            z-index: -1;
        }
        @keyframes spin {
            from {
              transform: rotate(0deg);
            }
            to {
              transform: rotate(360deg);
            }
          }
    }
    h3 {
        background-color: black;
        color: white;
        height: 60px;
        font-size: 24px;
        margin: 0 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 400;
        box-shadow: 0px 0px 6px black;
    }
    
   .mapping_Container{
    .mens_Mapping{
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0px 0px 24px darkgray;
        margin: 12px auto;
        padding: 12px;
        width: 70%;
        justify-content: space-between;
        a{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            text-decoration: none;
            color: black;
            img{
                width: 60%;
                padding: 12px;
                
             }
             h1{
                display: flex;
                font-size: 16px;
                text-align: center;
                font-weight: 400;
             }
        }
         
         p{
            margin: 12px;
            color: darkred;
            font-weight: 700;
         }
         button{
            margin: 12px;
            background-color: black;
            border: none;
            width: 100px;
            height: 40px;
            font-size: 16px;
            color: white;
            border-radius: 5%;
         }
       } 
   }
}

@media  (min-width : 768px) {
    .mens_Products{
        .mapping_Container{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .mens_Mapping{
                width: 30%;
                margin: 24px;
                a{
                    img{
                        height: 200px;
                        object-fit: contain;
                    }
                }
            }
        }
        
    }
}

@media  (min-width : 1280px) {
    .mens_Products{
        padding-top: 100px;
        .mapping_Container{
            width: 80%;
            margin: 0 auto;
            .mens_Mapping{
                width: 30%;
               
            }
        }
        .featuredimg_container{
            margin: 36px;
            box-shadow: 0 0 36px rgb(92, 92, 92);
            .featured_img {
                width: 100%;
                height: 200px;
                object-fit: cover;
            }
        }
    }
}